.vertical-scroll::-webkit-scrollbar {
  width: 2em;
  height: 1em;
}

.vertical-scroll::-webkit-scrollbar-track {
  background: hsl(120 75% 50% / 1);
  border-radius: 100vw;
  margin-block: 0.5em;
}

.vertical-scroll::-webkit-scrollbar-thumb {
  background: hsl(120 100% 20% / 1);
  border: 0.25em solid hsl(120 75% 50% / 1);
  border-radius: 100vw;
}

.vertical-scroll::-webkit-scrollbar-thumb:hover {
  background: hsl(120 100% 10% / 1);
}

/* Vertical scrolling */

.vertical-scroll {
  display: grid;
  gap: 0.5em;
  grid-auto-flow: column;
  grid-auto-columns: 75%;
  padding: 0.5em;
  overflow-x: scroll;
  background: #d3fdbe;
  border-radius: 1em;
  position: relative;
}

.vertical-scroll > div {
  background: hsl(0 0% 90%);
  border-radius: 1em;
  border: 0.5em solid hsl(0 0% 60%);
  padding: 1em;
}

:root {
  --ff-body: "Heebo", sans-serif;
  --ff-heading: "Oswald", sans-serif;

  --clr-primary-400: hsl(60 100% 50%);
  --clr-neutral-900: hsl(0 0% 0%);
  --clr-neutral-100: hsl(0 0% 100%);

  --fs-xl: clamp(3.5rem, 12vw + 1rem, 12rem);
  --fs-600: 2rem;
  --fs-400: 1rem;
}

@media (min-width: 40em) {
  :root {
    --fs-600: 3rem;
    --fs-400: 1.125rem;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p,
blockquote {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

.flow > * + * {
  margin-top: var(--flow-spacer, 1em);
}

body {
  font-family: var(--ff-body);
  font-size: var(--fs-400);
  line-height: 1.6;
}

h1,
blockquote {
  font-family: var(--ff-heading);
  font-weight: 900;
}

h1 {
  font-size: var(--fs-xl);
  line-height: 1;
  text-transform: uppercase;
}

blockquote {
  font-size: var(--fs-600);
  line-height: 1.2;
  text-align: center;
  margin-bottom: 1em;
}

blockquote::before {
  content: open-quote;
}

blockquote::after {
  content: close-quote;
}

a {
  color: #444;
  font-weight: 700;
}

a:hover {
  color: red;
}

article {
  display: grid;
}

article > *:not(img) {
  padding: 0 2rem;
}

.lead {
  font-size: var(--fs-600);
  line-height: 1.3;
  max-width: 35ch;
}

.article-body {
  columns: 2 30ch;
  gap: 4rem;
  max-width: 100ch;
}

.article-body > p:first-child::first-letter {
  font-size: 5em;
  float: left;
  line-height: 1.1;
  margin-right: 0.5rem;
}

.article-body > p:first-child::first-line {
  font-weight: 523;
}

@media (min-width: 60em) {
  article {
    grid-template-columns: min(40%, 40rem) 1fr;
  }

  article > img {
    grid-row: 1 / 4;
    height: 100%;
    object-fit: cover;
  }

  article > *:not(img) {
    grid-column: 1 / -1;
  }
}

@font-face {
	font-family: 'Minecraft Regular';
	font-style: normal;
	font-weight: normal;
	src: local('Minecraft Regular'), url('1_MinecraftRegular1.woff') format('woff');
}

body {
	margin: 0;
	font-family: 'Minecraft Regular';
	color: white;
	font-weight: 600;
}

.container {
	width: 80%;
	margin: 0 auto;
}

header {
 border-bottom-left-radius: 5px;
 border-bottom-right-radius: 5px;
 background: rgb(74,111,40);
 background: linear-gradient(40deg, rgba(74,111,40,1) 0%, rgba(91,139,50,1) 100%);
}

header:hover {
 transition: all ease-in-out 250ms;
 border-bottom-left-radius: 14px;
 border-bottom-right-radius: 14px;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
}

body {
	background: #212121;
	margin: 0;
	padding: 0;
}

nav {
	display: table;
	margin: 0 auto;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 25px;
  margin-right: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
}

nav a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

nav a:hover {
  color: #fff;
}

nav a::before {
  content: '';
  display: block;
  height: 1px;
  background-color: #fff;

  position: left;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}
