nav {
    display: table;
    margin: 0 auto;
}

nav li {
    display: inline-block;
    position: relative;
}

nav img {
    max-width: 15%;
    margin-left: -30rem;
    margin-top: 0.5rem;
}

nav li a{
    text-decoration: none;
    display: inline-block;
    position: relative;
    padding: 0.3rem;
    padding-right: 0.8rem;
    padding-left: 0.8rem;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    font-size: 22px;
    font-weight: bold;
    background-color: #FFF000;
    border-radius: 15px;
}

nav li a:link{
    color: black;
}

nav li a:visited{
    color: black;
}

nav li a:hover{
    color: black;
    text-decoration: none;
    display: inline-block;
    position: static;
    transform: scale(115%);
    font-weight: bold;
    background-color: #F5DA42;
    opacity: 75%;
    border-radius: 13px;
}

html {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #000000;
    color: white;
}

#belownav {
    padding-top: 6rem;
}

body h1 {
    padding-left: 3rem;
    padding-right: 3rem;
    position: relative;
}

#error404 {
    font-size: 30px;
    font-weight: bold;
}

#aboutcontents {
    display: flex;
    background-color: grey;
    border-radius: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin-left: 6.5rem;
    max-width: 80%;
}

#aboutcontents:hover {
    display: flex;
    background-color: grey;
    border-radius: 2.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
    margin-left: 6.5rem;
    max-width: 80%;
    transform: scale(110%);
}

#airplaneicon:hover{
    transform: scale(110%);
}